<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mattcan.obd.two.plugin.obd2_plugin_example">

    <!-- Flutter needs it to communicate with the running application -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Required for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Location permissions required for Bluetooth scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Foreground service (if needed) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>
